<p>{{#link-to 'resource' this}}Back to this resource{{/link-to}}</p>
<h3>Edit this resource</h3>
<p>
	<span>Title</span>
	{{input type="text" value=model.title}}
</p>
<p>
	<span>Description</span>
	{{textarea value=model.description}}
</p>