<p>{{#link-to 'resource.edit' this}}Edit{{/link-to}}</p>
<h3>{{model.title}}</h3>
<p>{{model.description}}</p>
<div>ID: <span class="id">{{model.id}}</span> | Type: <span class="type">{{model.type}}</span></div>